<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">

</head>
<body>

<nav th:insert="layout::menu"></nav>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">IdEspecialidad</th>
      <th scope="col">Nombre Especialidad</th>
      <th scope="col">Costo Especialidad</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="especialidad :${listaEspecialidad}">
      <td th:text="${especialidad.IdEsp}"></td>
      <td th:text="${especialidad.NomEsp}"></td>
      <td th:text="${especialidad.Costo}"></td>
    </tr>    
  </tbody>
</table>

</body>
</html>